#home-page-container

	.nav-box
		SIGN UP | LOGIN | VENDORS


	.search-box
		= form_tag search_results_path, method: :get do
			= select_tag(:procedure, options_for_select(@procedures.collect {|p| [ p.name, p.id ] }.insert(0, ["Select Procedure" , ""]), selected: params[:procedure] ) )
			%span.in in
			= text_field_tag :city, nil, :placeholder => "City"

			%button Sort By
			.clearfix
			= submit_tag 'SEARCH', name: nil, class: 'search-button'
