#home-page-container

	.nav-box
		SIGN UP | LOGIN | VENDORS


	.search-box
		= text_field_tag :procedure, "Botox"
		%span.in in
		= text_field_tag :city, "10018"

		%button Sort By
		.clearfix
		%button.search-button SEARCH
